  <div class="container" ng-controller="AppCtrl">

    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Message</th>
          <th>Action</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input class="form-control" ng-model="user.name"></td>
          <td><input class="form-control" ng-model="user.email"></td>
          <td><input class="form-control" ng-model="user.message"></td>
          <td><button class="btn btn-primary" ng-click="addUser()">Add</button></td>
          <td><button class="btn btn-success" ng-click="update()">Update</button>&nbsp;&nbsp;<button class="btn btn-default" ng-click="deselect()">Clear</button></td>
        </tr>
        <tr ng-repeat="user in userlist">
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
          <td>{{user.message}}</td>
          <td><button class="btn btn-danger" ng-click="remove(user._id)">Remove</button></td>
          <td><button class="btn btn-warning" ng-click="edit(user._id)">Edit</button></td>
        </tr>
      </tbody>
    </table>

  </div>
